extends layout

block content
    #page-content-wrapper
        .page-content.inset
            .row
                a#menu-toggle.btn.btn-default(href='#')
                    i.fa.fa-bars
                .col-md-12
                    h1 Welcome to Oren's Site
                    p.lead
                        | There's a lot of info you want here
                        if (!user)
                            br
                            | Sign in to see my autocomplete page
                        if (user)
                            br
                            | Now checkout my autocomplete page
                    if message
                        p.message= message
                    br
                if (!user)
                    a(href="/login") Login
                    br
                    a(href="/register") Register
                    br
                    a(href="/auth/facebook") Login via Facebook
                if (user)
                    p You are currently logged in as #{user.username}
                    br
                    a(href='/search') Search Page
                    br
                    a(href="/logout") Logout

    script
        $("#menu-toggle").click(function(e) {
          e.preventDefault();
          $("#wrapper").toggleClass("active");
        });
        if ($('p.message').text() != "") {
            $('p.message').wrap("<div class='alert'></div>")
        }
        if (window.location.hash && window.location.hash == '#_=_') {
            window.location.hash = '';
        }