extends layout

block content
  #page-content-wrapper
    .page-content.inset
      .row
        a#menu-toggle.btn.btn-default(href='#')
          i.fa.fa-bars
        .col-md-12
          h1 Welcome to Oren's Site
          p.lead There's a lot of info you want here
          if message
            p.message= message
          a(href="/") Go home
          br
        if (!user)
          a(href="/login") Login
          br
          a(href="/register") Register
        if (user)
          p You are currently logged in as #{user.username}
          a(href="/logout") Logout

  script
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("active");
    });
    if ($('p.message').text() != "") {
        $('p.message').wrap("<div class='alert'></div>")
    }